:root {
    --primary-light: #ddd;
    --primary-dark: #222831;
    --secondary-dark: #393e36;
    --secondary-dark-hover: #4a4f57;
    --secondary-dark-active: #5b5f68;
    --header: #111720;
    --primary-yellow: #fac650;
}